/*d3 INFOGRAPHIC styling*/


#FilterableTable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 20px;
}

.SearchBar {
  display: inline;
  position: relative;
  left: 1%;
}

.SearchBar input {
  position: relative;
  left: 2%;
}

table {
  position: absolute;
  top: 40px;
  left: 20px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table a:link, a:visited { text-decoration: none; }

table a:hover, a:active { text-decoration: underline; }

table, th, td { border: 1px solid black; }

td, th {
  padding: 5px;
  text-align: center;
  height: 20px;
}

th {
  background-color: #4393c3;
  color: #d9f0a3;
}

td { background-color: #92c5de; }

tr:hover td { background-color: #edf8b1; }

body {
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

#raw a {
  color:#9d009d!important;
  font-weight: 700;
}

#raw a:active, #raw a:hover, #raw a:focus {
  color:#ffd140!important;
}

.land {
  fill: #dddddd;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: white;
}

.exterior {
  stroke: #bbbbbb;
}

.station {
  fill: white;
  opacity: 0.6;
  stroke: #25252550;
  stroke-width:0.3;
}

#map {
max-height:600px;
}

#raw {
    width:90%;
    max-width: 864px;
    margin: 0 auto;
    text-align: left;
    font-size: x-small;
}

#legend, #legend th {
border-collapse:collapse;
border:solid 1px #252525;
}

#legend th {
font-size:small;
font-color:#660066;
}

#legend {
width:90%;
max-width:864px;
margin-left:auto;
margin-right:auto;
  margin-top:-30px;
}

#legend td, #legend tbody, #legend tr {
border: 1px solid #e5e5e5;
padding:5px;
}

#legend td {
word-wrap: break-word;
font-size:x-small;
}

#legend td.koppen {
color:#e5e5e5;
font-weight:600;
text-align:center;
}

#legend td.def {
color:#252525;
}

/* koppen class coloring*/
.station.Af {
  fill: #0000ff!important;
}
td.Af {
  background-color: #0000ff!important;
}

.station.Am {
  fill: #0178ff!important;
}
td.Am {
  background-color: #0178ff!important;
}

.station.Aw {
  fill: #47a9fa!important;
}
td.Aw {
  background-color: #47a9fa!important;
}

.station.BWh {
  fill: #fe0000!important;
}
td.BWh {
  background-color: #fe0000!important;
}

.station.BWk {
  fill: #fe9594!important;
}
td.BWk {
  background-color:#fe9594!important;
}

.station.BSh {
  fill: #f4a501!important;
}
td.BSh {
  background-color: #f4a501!important;
}

.station.BSk {
  fill: #ffdc64!important;
}
td.BSk {
  background-color: #ffdc64!important;
}

.station.Csa {
  fill: #ffff00!important;
}
td.Csa {
  background-color: #ffff00!important;
}

.station.Csb {
  fill: #c7c800!important;
}
td.Csb {
  background-color: #c7c800!important;
}

.station.Csc {
  fill: #969600!important;
}
td.Csc {
  background-color: #969600!important;
}

.station.Cwa {
  fill: #96ff97!important;
}
td.Cwa {
  background-color: #96ff97!important;
}

.station.Cwb {
  fill: #63c864!important;
}
td.Cwb {
  background-color: #63c864!important;
}

.station.Cwc {
  fill: #329733!important;
}
td.Cwc {
  background-color: #329733!important;
}

.station.Cfa {
  fill: #c9fe52!important;
}
td.Cfa {
  background-color: #c9fe52!important;
}

.station.Cfb {
  fill: #63ff32!important;
}
td.Cfb {
  background-color: #63ff32!important;
}

.station.Cfc {
  fill: #2fc700!important;
}
td.Cfc {
  background-color: #2fc700!important;
}

.station.Dsa {
  fill: #ff01ff!important;
}
td.Dsa {
  background-color: #ff01ff!important;
}

.station.Dsb {
  fill: #c900c8!important;
}
td.Dsb {
  background-color: #c900c8!important;
}

.station.Dsc {
  fill: #963195!important;
}
td.Dsc {
  background-color: #963195!important;
}

.station.Dsd {
  fill: #966597!important;
}
td.Dsd {
  background-color: #966597!important;
}

.station.Dwa {
  fill: #aaafff!important;
}
td.Dwa {
  background-color: #aaafff!important;
}

.station.Dwb {
  fill: #5a78db!important;
}
td.Dwb {
  background-color: #5a78db!important;
}

.station.Dwc {
  fill: #4b4fb4!important;
}
td.Dwc {
  background-color: #4b4fb4!important;
}

.station.Dwd {
  fill: #310087!important;
}
td.Dwd {
  background-color: #310087!important;
}

.station.Dfa {
  fill: #01fffe!important;
}
td.Dfa {
  background-color: #01fffe!important;
}

.station.Dfb {
  fill: #36c8ff!important;
}
td.Dfb {
  background-color: #36c8ff!important;
}

.station.Dfc {
  fill: #017d7d!important;
}
td.Dfc {
  background-color: #017d7d!important;
}

.station.Dfd {
  fill: #00475f!important;
}
td.Dfd {
  background-color: #00475f!important;
}

.station.ET {
  fill: #b2b2b2!important;
}
td.ET {
  background-color: #b2b2b2!important;
}

.station.EF {
  fill: #666666!important;
}
td.EF {
  background-color: #666666!important;
}

.station.H {
  fill: #000000!important;
}
td.H {
  background-color: #000000!important;
}

.edge {
  fill: none;
  stroke: #252525;
  stroke-width: 2px;
  stroke-opacity: 0.1;
}

.voronoi {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}
/* @media only screen and (min-width:768px) {
.highlight {
  stroke: red !important;
}
}*/
.highlight {
  opacity: 1 !important;
  stroke-width: 2px !important;
  stroke-opacity: 0.9 !important;
}

g#voronoi {
  pointer-events: all;
}

/* shadow trick from bl.ocks.org */
#tooltip, #tooltipdetail, #tooltipcode {
  font-size: 8pt;
  font-weight: 700;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525, -1px -1px 0 #252525;
}

/*HTML page styling*/
#content {
max-width:1500px;
width:100%;
margin:0 auto;
}
.notes {
color:gray;
font-size:smaller;
}
.spacer {
height:2em;
}
#timescale ul {
  display:flex;
  align-content: center;
  list-style: none;
  font-size:small;
}

#timescale ul li {
  margin:auto;
  width: 190px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border:1px solid #bb0000;
}
#timescale ul li a {
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
}
#timescale ul li:not(.active){
  background-color: #ffd140;
}
#timescale ul li.active {
  color:#bb0000;
}

#timescale ul li:not(.active):hover {
  background-color: #bb0000;
}

#timescale ul li:not(.active):hover a {
  color: white!important;
}
